@import url('~boxicons/css/boxicons');
@import url('~sweetalert2/dist/sweetalert2');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Social */
	--facebook: rgba(66,103,178,1);
	--twitter: rgba(29,161,242,1);
	--tiktok: rgba(0,0,0,1);
	--tiktok-inner: rgba(255,0,80,1);
	--tiktok-outer: rgba(0,242,234,1);
	--linkedin: rgba(0,119,181,1);
	--youtube: rgba(255,0,0,1);
	--pinterest: rgb(197, 38, 38);
	--whatsapp: rgba(37,211,102,1);
	--whatsapp-bg: rgba(18,140,126,1);
	--snapchat: rgba(255,252,0,1);
	--telegram: rgba(0,136,204,1);
	--twitch: rgba(100,65,165,1);
	--discord: rgba(114,137,218,1);
	--google: radial-gradient(circle at 30% 107%, #4285F4 0%, #DB4437 5%, #F4B400 45%,#4285F4 60%,#0F9D58 90%);
	--instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

/* reapply */
.form-control {
    @apply block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0
}

.control-label {
    @apply pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary
}

.btn-primary {
    @apply rounded bg-blue-500 px-5 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-lg focus:bg-blue-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-900 active:shadow-inner dark:shadow dark:hover:shadow-lg dark:focus:shadow-lg dark:active:shadow-lg
}

.btn-secondary {
    @apply rounded bg-white px-5 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-slate-900 shadow transition duration-150 ease-in-out hover:bg-slate-100 hover:shadow-lg focus:bg-slate-100 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-200 active:shadow-inner dark:shadow dark:hover:shadow-lg dark:focus:shadow-lg dark:active:shadow-lg
}

.btn-unique {
    @apply rounded bg-slate-600 px-5 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow transition duration-150 ease-in-out hover:bg-slate-900 hover:shadow-lg focus:bg-slate-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-950 active:shadow-inner dark:shadow dark:hover:shadow-lg dark:focus:shadow-lg dark:active:shadow-lg
}

.btn-danger {
    @apply rounded bg-red-600 px-5 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-inner dark:shadow dark:hover:shadow-lg dark:focus:shadow-lg dark:active:shadow-lg
}

.empty {
    @apply bg-white rounded shadow-xl uppercase text-slate-300 text-center py-[5em]
}

@media screen and (max-width:500px) {
    .btn-ux-primary {
        @apply fixed bottom-[2em] right-[1em] z-[99] flex flex-col [&>span]:hidden [&>i]:text-2xl py-4 px-5 rounded-full
    }

    .btn-secondary {
        @apply [&>span]:hidden
    }
}


/* custom */

table tbody tr td:not(:only-child):first-child {
    width: 60px !important;
    padding-left: 1em; }


.facebook .icon {
    background-color: var(--facebook); }
.twitter .icon {
    background-color: var(--twitter); }
.tiktok .icon {
    text-shadow: 1px 1px 0 var(--tiktok-inner);
    background-color: var(--tiktok); }
.linkedIn .icon {
    background-color: var(--linkedin); }
.youtube .icon {
    background-color: var(--youtube); }
.pinterest .icon {
    background-color: var(--pinterest); }
.whatsapp .icon {
    background-color: var(--whatsapp); }
.snapchat .icon {
    background-color: var(--snapchat); }
.telegram .icon {
    background-color: var(--telegram); }
.twitch .icon {
    background-color: var(--twitch); }
.discord .icon {
    background-color: var(--discord); }
.google .icon {
    background-image: var(--google); }
.instagram .icon {
    background-image: var(--instagram); }